<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>奇思妙想游戏推荐</title>
      <meta name="script" content="">
      <meta name="viewport" content="wicorporateh=device-wicorporateh, initial-scale=1">
      <!-- Favicon Icon -->
      
      <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="static/css/venobox.css">
      <link rel="stylesheet" type="text/css" href="static/css/plugin_theme_css.css">
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
      <link rel="stylesheet" type="text/css" href="static/css/responsive.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
      <!-- modernizr js -->	
      <script src="static/js/modernizr-2.8.3.min.js"></script>		
   </head>
   <body style="background:  
   url('static/image/bj1.png') no-repeat center center fixed;
background-size: cover;">
      <div class="em40_header_area_main">
         <div class="metalplan-main-menu one_page hidden-xs hidden-sm witr_h_h10">
            <div class="metalplan_nav_area scroll_fixed postfix">
               <div class="container-fluid">
                  <div class="row logo-left">
                     <div class="col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                           <a class="main_sticky_main_l" href="" title="metalplan">
                           <img src="static/picture/logo1.png" alt="metalplan">
                           </a>
                           <a class="main_sticky_l" href="" title="metalplan">
                           <img src="static/picture/logo1.png" alt="metalplan">
                           </a>
                        </div>
                     </div>
                     <!-- MAIN MENU -->
                     <div class="col-md-9 col-sm-9 col-xs-8">
                        <div class="tx_mmenu_together">
							<nav class="metalplan_menu">
								<ul class="sub-menu">
									<li class="menu-item-has-children">
										<a href="index.html">主页</a>
										<ul class="sub-menu">
										   <li><a href="index.html">主页</a></li>
										</ul>
									</li>

									<li class="menu-item-has-children">
										<a id="rankingLink" href="#">评分排行榜</a>

										<ul class="sub-menu">
										   <li class="menu-item-has-children">
											  <a href="static/view/example/case03/index.html">评分排行榜</a>

										   </li>
										   <li><a href="评分排行榜.html">老子要评分</a></li>
										   
										   <li><a href="评分排行榜.html">老子要试玩</a></li>
	
										</ul>
									</li>
									<li class="menu-item-has-children">
										<a href="游戏分类.html">游戏分类</a>
									</li>
		
								</ul>
							</nav>
                           <div class="tx_mmenu_together">
                              <div class="main-search-menu">
                                 <div class="em-quearys-top msin-menu-search">
                                    <div class="em-top-quearys-area">
                                       <div class="em-header-quearys">
                                          <div class="em-quearys-menu">
                                             <i class="icofont-search-2 t-quearys"></i>
                                          </div>
                                       </div>
                                       <!--SEARCH FORM-->
                                       <div class="em-quearys-inner">
                                          <div class="em-quearys-form">
                                             <form class="top-form-control" action="搜索.html" method="get">
                                                <input type="text" placeholder="输入游戏的关键字" name="s" value="">
                                                <button class="top-quearys-style" type="submit">
                                                <i class="icofont-long-arrow-right"></i>
                                                </button>
                                             </form>
                                             <div class="em-header-quearys-close text-center mrt10">
                                                <div class="em-quearys-menu">
                                                   <i class="icofont-close-line t-close"></i>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- menu button -->

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- mobile menu -->
      <div class="mobile_logo_area">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="mobilemenu_con">
                     <div class="mobile_menu_logo text-center">
                        <a href="" title="metalplan">
                        <img src="static/picture/logo1.png" alt="metalplan">
                        </a>		
                     </div>
                     <div class="mobile_menu_option">
                        <div class="mobile_menu_o mobile_opicon">
                           <i class="icofont-navigation-menu openclass"></i>
                        </div>
                        <div class="mobile_menu_inner mobile_p">
                           <div class="mobile_menu_content">
                              <div class="mobile_menu_logo text-center">
                                 <a href="" title="metalplan">
                                 <img src="static/picture/logo1.png" alt="metalplan">
                                 </a>		
                              </div>
								<div class="menu_area mobile-menu">
									<nav class="metalplan_menu">
										<ul class="sub-menu">
											<li class="menu-item-has-children">
												<a href="#">Home</a>
												<ul class="sub-menu">
												   <li><a href="">Home Main</a></li>
												   <li><a href="landing_page.html">Landing Page</a></li>
												   <li><a href="video_page.html">Video Page</a></li>
												</ul>
											</li>
											<li><a href="about.html">About</a></li>
											<li class="menu-item-has-children">
												<a href="#">Service</a>
												<ul class="sub-menu">
												   <li><a href="metal_works.html">Metal Works</a></li>
												   <li><a href="manufacturing.html">Manufacturing</a></li>
												</ul>
											</li>
											<li class="menu-item-has-children">
												<a href="">Page</a>
												<ul class="sub-menu">
												   <li class="menu-item-has-children">
													  <a href="#">Portfolio</a>
													  <ul class="sub-menu">
														 <li><a href="portfolio_2column.html">Portfolio-2Column</a></li>
														 <li><a href="portfolio_3column.html">Portfolio 3Column</a></li>
														 <li><a href="portfolio_4column.html">Portfolio 4Column</a></li>
													  </ul>
												   </li>
												   <li><a href="pricing_plan.html">Pricing Plan</a></li>
												   <li class="menu-item-has-children">
													  <a href="team.html">Team</a>
													  <ul class="sub-menu">
														 <li><a href="team_details.html">Team Details</a></li>
													  </ul>
												   </li>
												   <li><a href="faqs.html">Faq’s</a></li>
												   <li><a href="feature.html">Feature</a></li>
												   <li><a href="Clients.html">Our Clients</a></li>
												</ul>
											</li>
											<li class="menu-item-has-children">
												<a href="#">Blog</a>
												<ul class="sub-menu">
												   <li><a href="blog.html">Blog Gird</a></li>
												   <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
												   <li><a href="blog_right_sidebar.html">Blog Right Sidebar</a></li>
												</ul>
											</li>
											<li><a href="contact.html">Contact</a></li>
										</ul>
									</nav>
								</div>
                              <div class="mobile_menu_o mobile_cicon">
                                 <i class="icofont-close closeclass"></i>
                              </div>
                           </div>
                        </div>
                        <div class="mobile_overlay"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Mobile Menu -->
      <div class="witr_swiper_area">
         <div class="swiper-container swiper_active">
            <div class="swiper-wrapper">
               <!-- 1 single slider -->
               <div class="swiper-slide d1 t1 m1 witr_swiper_height" style="background-image: url(static/image/game-top1.jpg);">
                  <div class="witr_sw_text_area text-left">
                     <div class="witr_swiper_content">
                        <h2></h2>
                        <p></p>
                        <div class="slider_btn">
                           <div class="witr_btn_style">
                              <div class="witr_btn_sinner">
                                 <a class="witr_btn" href="" target="_blank">点击试玩</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide d1 t1 m1 witr_swiper_height" style="background-image: url(static/image/game-top2.jpg);">
                  <div class="witr_sw_text_area text-left">
                     <div class="witr_swiper_content">
                        <h2></h2>
                        <p></p>
                        <div class="slider_btn">
                           <div class="witr_btn_style">
                              <div class="witr_btn_sinner">
                                 <a class="witr_btn" href="" target="_blank">点击试玩</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide d1 t1 m1 witr_swiper_height" style="background-image: url(static/image/game-top3.jpg);">
                  <div class="witr_sw_text_area text-left">
                     <div class="witr_swiper_content">
                        <h2></h2>
                        <p></p>
                        <div class="slider_btn">
                           <div class="witr_btn_style">
                              <div class="witr_btn_sinner">
                                 <a class="witr_btn" href="" target="_blank">点击试玩</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
         </div>
      </div>
    

      <div class="metalplan_project_area">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_pslide3 all_pslides_color ps1 ps3">
                     <div class="witr_islidess_slick project_act">
                        <!-- 1 single project -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image">
                                 <img src="" alt="image" id="g11" height="323px" width="370px" style="height: 250px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g1"></h3>
               
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                       
                        <!-- 2 single project -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image" style="margin-top: 0px;">
                                 <img src="" alt="image" id="g22" height="323px" width="370px" style="height: 249px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g2"></h3>
                                
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                         <!-- 3 single project -->
                         <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image">
                                 <img src="" alt="image" id="g33" height="323px" width="370px" style="height: 249px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g3"></h3>
                                
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- 4  single project -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image">
                                 <img src="" alt="image" id="g44" height="323px" width="370px" style="height: 249px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g4"></h3>
                                   
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>



      <div class="metalplan_project_area">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_pslide3 all_pslides_color ps1 ps3">
                     <div class="witr_islidess_slick project_act">
                        <!-- 5 single project -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image">
                                 <img src="" alt="image" id="g55" height="323px" width="370px" style="height: 255px; margin-top: 7px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g5"></h3>
               
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                       
                        <!-- 6 single project -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image">
                                 <img src="" alt="image" id="g66" height="323px" width="370px" style="height: 255px; margin-top: 7px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g6"></h3>
                                
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                         <!-- 7 single project -->
                         <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image">
                                 <img src="static/picture/植物大战僵尸.jpg" alt="image" id="g77" height="323px" width="370px" style="height: 255px; margin-top: 7px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g7">植物大战僵尸</h3>
                                
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- 8 single project -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image">
                                 <img src="static/picture/洛克王国.jpg" alt="image" id="g88" height="323px" width="370px" style="height: 255px; margin-top: 7px;">
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_content_pslide">
                                    <h3 id="g8">洛克王国</h3>
                                   
                                 </div>
                                 <div class="witr_pslide_custom"> <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="container" style="overflow: hidden; height: 0;width: 0;">
         <div id="selected-tags"></div>
      </div>
      <script>
         function getQueryParams() {
             const params = {};
             window.location.search.substr(1).split('&').forEach(pair => {
                 const [key, value] = pair.split('=');
                 params[key] = decodeURIComponent(value);
             });
             return params;
         }
         const tagInfo = {
             "体育类": {
                 "h2": "火柴人打羽毛球2",
                 "p": "火柴人打羽毛球2来了，游戏更加好玩。不错的一款游戏，支持双人，可以跟朋友一起玩哦！",
                 "href": "https://www.4399.com/flash/90302.htm#search3-6ac2"
             },
             "射击类": {
                 "h2": "二战前线2无敌版",
                 "p": "这次的二战前线2版本的游戏是最无敌的！可以随意调关卡、武器全开、血无限。速速来体验吧！",
                 "href": "https://www.4399.com/flash/21674.htm#search3-c03f"
             },
             "测试类": {
                 "h2": "测试你的高考分数",
                 "p": "人一生中将面临一次高考。你的成绩上帝已经决定了，想知道自己能考几分吗？",
                 "href": "https://www.4399.com/flash/90913.htm#search3-5d04"
             },
             "装扮类": {
                 "h2": "快乐美发师3",
                 "p": "快乐美发师3来咯~这次你将为美女帅哥们打理发型，为大家提供理发服务吧~",
                 "href": "https://www.4399.com/flash/96275.htm#search3-6f5e"
             },
             "敏捷篇": {
                 "h2": "大鱼吃小鱼双人版",
                 "p": "不断的吃掉比自己小的鱼，不断的强大起来吧!",
                 "href": "https://www.4399.com/flash/93398.htm"
             },
             "搞笑类": {
                 "h2": "整蛊火柴人2",
                 "p": "让我们借助各种精心设计的道具，巧妙地整蛊一下那个火柴人，以此来释放一下内心的压力与情绪吧！",
                 "href": "https://www.4399.com/flash/134354.htm"
             },
             "休闲类": {
                 "h2": "Q版泡泡堂",
                 "p": "情吞噬各种神奇道具，灵活闪避那些让人心跳加速的陷阱，然后巧妙地释放泡泡炸弹，将那些竞争对手炸得七零八落，快来成功摘得胜利的桂冠叭！",
                 "href": "https://www.4399.com/flash/3881.htm"
             },
             "动作类": {
                 "h2": "西游大战僵尸2",
                 "p": "4399各位玩家们~注意！注意！《西游大战僵尸2》有僵尸出没！唐僧很萌，僵尸很凶，快来保护唐僧取得西经！可爱的套装，神秘可进化的宠物，绚丽的技能……",
                 "href": "https://www.4399.com/flash/100897.htm"
             },
             "儿童类": {
                 "h2": "乐高游戏嘉年华3",
                 "p": "乐高游戏嘉年华3终于在最开心的六一节与大家见面了！沉睡的小火车和小汽车也苏醒了！快来体验吧！",
                 "href": "https://www.4399.com/flash/117252.htm"
             },
             "综合类": {
                 "h2": "封神太子2",
                 "p": "绚丽的技能特效，梦幻的地图场景。翻江倒海，擒水妖，战龙王，登顶封神，谁成仙！欢迎大家来玩！",
                 "href": "https://www.4399.com/flash/91800.htm"
             },
             "益智类": {
                 "h2": "宠物连连看2.5版",
                 "p": "大名鼎鼎的“连连看”，别告诉我你不知道哦！",
                 "href": "https://www.4399.com/flash/1382.htm"
             },
             "冒险类": {
                 "h2": "勇者之路精灵物语速升版",
                 "p": "勇者之路-精灵物语快速升级版，让你更快体会到游戏的乐趣。",
                 "href": "https://www.4399.com/flash/47931.htm"
             },
             "模拟经营": {
                 "h2": "老爹汉堡店",
                 "p": "这是一家新开业的汉堡专卖店，这里的客人非常的多，今天是周末，客人更加的多，老板都已经忙不过来了，快来帮帮他吧！",
                 "href": "https://www.4399.com/flash/43728.htm"
             },
             "棋牌类": {
                 "h2": "全名斗地主",
                 "p": "全民斗地主游戏由三人玩一副牌，地主农民双方对战，先出完手中牌的一方胜，若是地主先出完牌则地主胜，否则另外两家胜。",
                 "href": "https://www.4399.com/flash/117945.htm"
             },
             "策略类": {
                 "h2": "突击对决无敌版",
                 "p": "掌控精锐特种兵，以雷霆万钧之势消灭敌人，挑战你的战略智慧与勇气，邀请你踏入这场刺激的游戏世界，体验无与伦比的征服快感！",
                 "href": "https://www.4399.com/flash/42760.htm"
             }
         };
         const tagInfo1 = {
    "体育类": {
        "img1": "static/picture/体育类1.png",
        "img2": "static/picture/体育类2.png",
        "title1": "双人旋转赛车",
        "title2": "3D双人极速飙车"
    },
    "射击类": {
        "img1": "static/picture/射击类1.png",
        "img2": "static/picture/射击类2.png",
        "title1": "坦克动荡2",
        "title2": "战火英雄无敌版"
    },
    "测试类": {
        "img1": "static/picture/测试类1.png",
        "img2": "static/picture/测试类2.png",
        "title1": "测你的古代身份",
        "title2": "未来身份测试"
    },
    "装扮类": {
        "img1": "static/picture/装扮类1.png",
        "img2": "static/picture/装扮类2.png",
        "title1": "冰淇淋蛋糕店",
        "title2": "阿Sue化妆2"
    },
    "敏捷篇": {
        "img1": "static/picture/敏捷篇1.png",
        "img2": "static/picture/敏捷篇2.png",
        "title1": "疯狂小人战斗",
        "title2": "双人碰碰车3D1.2"
    },
    "搞笑类": {
        "img1": "static/picture/搞笑类1.png",
        "img2": "static/picture/搞笑类2.png",
        "title1": "巫婆造女孩中文版",
        "title2": "爆笑变形金刚大结局"
    },
    "休闲类": {
        "img1": "static/picture/休闲类1.png",
        "img2": "static/picture/休闲类2.png",
        "title1": "黄金矿工双人版",
        "title2": "制作美味蛋糕"
    },
    "动作类": {
        "img1": "static/picture/动作类1.png",
        "img2": "static/picture/动作类2.png",
        "title1": "死神VS火影3.3",
        "title2": "拳皇wing1.85无敌版"
    },
    "儿童类": {
        "img1": "static/picture/儿童类1.png",
        "img2": "static/picture/儿童类2.png",
        "title1": "朵拉农场",
        "title2": "米奇的机器人实验"
    },
    "综合类": {
        "img1": "static/picture/综合类1.png",
        "img2": "static/picture/综合类2.png",
        "title1": "原色中文版",
        "title2": "炎龙传说2双龙版"
    },
    "益智类": {
        "img1": "static/picture/益智类1.png",
        "img2": "static/picture/益智类2.png",
        "title1": "果蔬连连看",
        "title2": "宠物连连看3.1"
    },
    "冒险类": {
        "img1": "static/picture/冒险类1.png",
        "img2": "static/picture/冒险类2.png",
        "title1": "闪翼双星无敌版",
        "title2": "王子公主回家记"
    },
    "模拟经营": {
        "img1": "static/picture/模拟经营1.png",
        "img2": "static/picture/模拟经营2.png",
        "title1": "老爹甜品店中文版",
        "title2": "老爹寿司店中文版"
    },
    "棋牌类": {
        "img1": "static/picture/棋牌类1.png",
        "img2": "static/picture/棋牌类2.png",
        "title1": "中国象棋",
        "title2": "奥维斗地主"
    },
    "策略类": {
        "img1": "static/picture/策略类1.png",
        "img2": "static/picture/策略类2.png",
        "title1": "皇城突袭1.13无敌版",
        "title2": "超级米拉奇战记"
    }
};
         document.addEventListener('DOMContentLoaded', () => {
             const params = getQueryParams();
             let selectedTagsArray = [];
             if (params.tags) {
                 selectedTagsArray = params.tags.split(',');
                 const selectedTagsContainer = document.getElementById('selected-tags');
                 selectedTagsContainer.innerHTML = selectedTagsArray.map(tag => `<div class="tag">${tag}</div>`).join('');
             }
             // 更新轮播图内容
             const slides = document.querySelectorAll('.swiper-slide');
             selectedTagsArray.forEach((tag, index) => {
                 if (slides[index] && tagInfo[tag]) {
                     const info = tagInfo[tag];
                     slides[index].querySelector('h2').textContent = info.h2;
                     slides[index].querySelector('p').textContent = info.p;
                     slides[index].querySelector('a').href = info.href;
                 }
             });
             const slides1 = document.querySelectorAll('.swiper-slide');
             selectedTagsArray.forEach((tag, index) => {
                 if (slides1[index]) {
                     slides1[index].style.backgroundImage = `url(static/image/${tag}.jpg)`;
                 }
             });
           
             if (selectedTagsArray.length > 0) {
               const tag = selectedTagsArray[0];
               if (tagInfo1[tag]) {
                  const info1 = tagInfo1[tag];
                  document.getElementById("g1").innerText = info1.title1;
                  document.getElementById("g11").src = info1.img1;
                  document.getElementById("g2").innerText = info1.title2;
                  document.getElementById("g22").src = info1.img2
             }
            }
            if (selectedTagsArray.length > 0) {
               const tag = selectedTagsArray[1];
               if (tagInfo1[tag]) {
                  const info1 = tagInfo1[tag];
                  document.getElementById("g3").innerText = info1.title1;
                  document.getElementById("g33").src = info1.img1
                  document.getElementById("g4").innerText = info1.title2;
                  document.getElementById("g44").src = info1.img2
             }
            }
            if (selectedTagsArray.length > 0) {
               const tag = selectedTagsArray[2];
               if (tagInfo1[tag]) {
                  const info1 = tagInfo1[tag];
                  document.getElementById("g5").innerText = info1.title1;
                  document.getElementById("g55").src = info1.img1
                  document.getElementById("g6").innerText = info1.title2;
                  document.getElementById("g66").src = info1.img2
             }
            }


         });


         


         window.addEventListener('load', () => {
         const rankingLink = document.getElementById('rankingLink');
               
         rankingLink.addEventListener('click', (event) => {
        event.preventDefault(); // 阻止默认的链接行为，即不进行原本的页面跳转

        const urlParams = new URLSearchParams(window.location.search);
        const tags = urlParams.get('tags');

        window.location.href = `static/view/example/case03/index.html?tags=${encodeURIComponent(tags)}`;
    });
});


         </script>





       
      <!-- Include All JS -->
      <script src="static/js/jquery-3.5.1.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/isotope.pkgd.min.js"></script>
      <script src="static/js/owl.carousel.min.js"></script>
      <script src="static/js/slick.min.js"></script>
      <script src="static/js/imagesloaded.pkgd.min.js"></script>
      <script src="static/js/venobox.min.js"></script>
      <script src="static/js/jquery.appear.js"></script>
      <script src="static/js/jquery.knob.js"></script>
      <script src="static/js/theme-pluginjs.js"></script>
      <script src="static/js/jquery.meanmenu.js"></script>
      <script src="static/js/ajax-mail.js"></script>		
      <script src="static/js/theme.js"></script>
   </body>
</html>